
#post_gallery .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#post_gallery .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#post_gallery .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    width: 80px;
    height: 60px;
}
#post_gallery .carousel-indicators li.active img {
    opacity: 1;
}
#post_gallery .carousel-indicators li:hover img {
    opacity: 0.75;
}
#post_gallery .carousel-outer {
    position: relative;
}

